<!DOCTYPE html>
<html>
<head>
	<title>Space launches</title>
	<style>
        h2{text-align: center;}
		h3{
			text-align: center;}
	</style>
	 <link rel="stylesheet" href="mycss.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="sidebar" >
  <a href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/about"><i class="fa fa-fw fa-wrench"></i> About</a>
  <a href="/home"><i class="fa fa-fw fa-user"></i> login/logout</a>
</div>
	
	<div class="container demo">
			<div id="large-header" class="large-header">
				<div>
					<h1> Welcome </h1>
					<p>
						This site gives details of all the space launches and Astomnomical pictures by NASA and other space agencies. 
						I have used express and nodejs for backend and html,css,javascript for frontend... and for database i have used Mongodb.  
					</p>
				</div>
				<canvas id="demo-canvas"></canvas>				
			</div>
	</div>
	
<script type="text/javascript" src="js/TweenLite.min.js"></script>
<script type="text/javascript" src="js/EasePack.min.js"></script>
<script type="text/javascript" src="js/demo.js"></script>

</body>
</html>