.large-header{
			position: relative;
			width: 100%;
			background: #111;
			overflow: hidden;
			background-size: cover;
			background-position: center;
			z-index: 1;
		}

		.demo .large-header{
			background-image: url("images/demo-bg.jpg");
            width: 100%;
		}

		.main-title{
			position: absolute;
			margin: 0;
			padding: 0;
			color: #f9f1e9;
			text-align: center;
			top:50%;
			left: 50%;
			-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate(-50%,-50%,0);
		}

		.demo .main-title{
			text-transform: uppercase;
			font-size: 4.2em;
			letter-spacing: 0.1em;
		}

		.main-title .thin{
			font-weight: 200;
		}


.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

p{
	color: blue;
}